<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="/css/connexion_inscription.css">
</head>
<body>
<div th:if="${message}" class="eni-message">
    <p th:text="${message}"></p>
</div>
<div class="eni-container">
    <h1>Connexion</h1>
    <form th:action="@{/client/connexion}" method="post" class="eni-form">
        <div class="eni-form-group">
            <input name="email" class="eni-input" type="text" placeholder="Email" required/>
        </div>
        <div class="eni-form-group">
            <input name="password" class="eni-input" type="password" placeholder="Mot de Passe" required/>
        </div>
        <div class="eni-form-group">
            <input class="eni-button" type="submit" value="Se connecter"/>
        </div>
    </form>

    <div class="eni-form-group">
        <a th:href="@{/client/cancel}" class="eni-link">Quitter</a>
    </div>
</div>

</body>
</html>
